$NetBSD$

* NetBSD locales

--- programs/localized/templates/Taiwanese.tmpl.orig	2015-05-09 23:09:11.000000000 +0000
+++ programs/localized/templates/Taiwanese.tmpl
@@ -30,3 +30,7 @@ LANG=zh_TW
 #ifdef UXPArchitecture
 LANG=zh_TW
 #endif
+
+#ifdef NetBSDArchitecture
+LANG=zh_TW.eucTW
+#endif
