$NetBSD$

* NetBSD locales

--- programs/localized/templates/Korean.tmpl.orig	2018-07-06 18:05:20.000000000 +0000
+++ programs/localized/templates/Korean.tmpl
@@ -22,3 +22,7 @@ LANG=ko
 #ifdef HPArchitecture
 LANG=ko_KR.eucKR
 #endif
+
+#ifdef NetBSDArchitecture
+LANG=ko_KR.eucKR
+#endif
