$NetBSD$

* NetBSD locales

--- programs/localized/templates/Swedish.tmpl.orig	2018-07-06 18:05:20.000000000 +0000
+++ programs/localized/templates/Swedish.tmpl
@@ -22,3 +22,7 @@ LANG=sv
 #ifdef HPArchitecture
 LANG=sv_SE.iso88591
 #endif
+
+#ifdef NetBSDArchitecture
+LANG=sv_SE.ISO8859-1
+#endif
