$NetBSD$

* NetBSD locales

--- programs/localized/templates/Taiwanese.tmpl.orig	2018-07-06 18:05:20.000000000 +0000
+++ programs/localized/templates/Taiwanese.tmpl
@@ -22,3 +22,7 @@ LANG=zh_TW
 #ifdef HPArchitecture
 LANG=zh_TW.ccdc
 #endif
+
+#ifdef NetBSDArchitecture
+LANG=zh_TW.eucTW
+#endif
