$NetBSD$

* NetBSD locales

--- programs/localized/templates/Chinese.tmpl.orig	2018-07-06 18:05:20.000000000 +0000
+++ programs/localized/templates/Chinese.tmpl
@@ -22,3 +22,7 @@ LANG=zh
 #ifdef HPArchitecture
 LANG=zh_CN.hp15CN
 #endif
+
+#ifdef NetBSDArchitecture
+LANG=zh_CN.eucCN
+#endif
