$NetBSD$

* NetBSD locales

--- programs/localized/templates/Japanese.tmpl.orig	2018-07-06 18:05:20.000000000 +0000
+++ programs/localized/templates/Japanese.tmpl
@@ -22,3 +22,7 @@ LANG=ja
 #ifdef HPArchitecture
 LANG=ja_JP.eucJP
 #endif
+
+#ifdef NetBSDArchitecture
+LANG=ja_JP.eucJP
+#endif
